body{
	margin:0px;
	padding:0px;
	
}

div.adminMenu{
	margin-top:0px;
	float:left;
	height:630px;
	width:195px;
	background:#eff8ff;
	margin-left:0px;
	margin-right:0px;
}


.adminMenu ul { 
margin: 0; 
padding: 0; 
width: 150px; /* Width of Menu Items */ 
border-bottom: 1px solid #ccc; 
} 
.adminMenu li{
	width: 180px;
	height:40px;
	line-height:20px;
	text-align: center;
	margin: 0px 0px 1px 0px;
	background: #eff8ff;
	color:#3f6f83;
	padding:-5px;
	border-bottom:1px solid #d5e2eb;
}
.adminMenu ul li { 
	display: block; 
position: relative; 
} 

.adminMenu li ul { 
position: absolute; 
left: 149px; /* Set 1px less than menu width */ 
top: 0; 
display: none; 
}
.adminMenu a{
	display: block; 
	text-decoration: none;
	color:#357388;
}
.adminMenu a:hover{
	text-decoration: none;
	color:#d24405;
}

/* Styles for Menu Items */ 


/* Holly Hack. IE Requirement /*/ 
* html ul li { float: left; height: 1%; } 
* html ul li a { height: 1%; } 
/* End */ 

.adminMenu li:hover ul, li.over ul { display: block; }
div.border{
	width:2px;
	float:left;
	height:630px;
	background:#dbe4eb;
}


	